# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\applied-ai-git\flask_api_tech_with_tim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
